* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font: 16px monospace;
    background: white;
}
#messages,
#input {
    padding: 5px;
    width: 100vw;
    color: black;
}
#messages {
    height: 95vh;
    position: absolute;
    bottom: 5vh;
    overflow: scroll;
}
#input {
    position: fixed;
    bottom: 0;
    height: 5vh;
    border: 0;
    border-top: solid 1px black;
    font: inherit;
}
#input:focus {
    outline: 0;
    border-top-width: 3px;
}